p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

body {
  background-color: #ccd8f5;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    max-width:600px;
}
